<div id="page_wrapper">
  <div id="profile_image"><%= image_tag "001.jpg" %></div>

  <div id="content">
    <h1>Hey, I'm Ching Chang Pong Kong Tong</h1>
    <p>Welcome to my new page in the blog.</p>
    <p>Photo booth irony id dolore, chia snackwave kogi shoreditch officia fam chicharrones ethical culpa PBR&B. Bitters messenger bag et shoreditch typewriter. Chia fam excepteur iPhone. Gentrify palo santo try-hard kogi cliche. Quinoa reprehenderit enim knausgaard.</p>
    <p>Fillerati is for the more refined linguist, with dummy text from authors such as Herman Melville (Moby Dick) and Lewis Carroll (Alice in Wonderland). The source for the public domain filler text is provided by Project Gutenberg:<a href="http://google.com"></a></a> </p>
  </div>
</div>